.signup {
    .signup-title {
      h2 {
        font-family: 'Playfair Display', sans-serif;
        line-height: 1.3em;
        font-weight: 700;
        font-size: 40px;
      }
    }
    .signup-content {
      .sign-up-check {
        font-size: 15px;
        font-weight: 700;
        span {
          color: #dcbb87;
          font-weight: 800;
        }
      }
    }
    .btn-base {
      border-radius: 5px !important;
      color: #19232d !important;
    }
    :where(.css-dev-only-do-not-override-17seli4).ant-picker-outlined:hover {
      border-color: #dcbb87 !important;
    }
    :where(.css-dev-only-do-not-override-17seli4).ant-picker-outlined:focus,
    :where(
        .css-dev-only-do-not-override-17seli4
      ).ant-picker-outlined:focus-within {
      box-shadow: none !important;
      outline: none !important;
      border-color: #dcbb87 !important;
    }
    :where(.css-dev-only-do-not-override-17seli4).ant-picker-dropdown
      .ant-picker-cell
      .ant-picker-cell-inner {
      &::before {
        border-color: #dcbb87 !important;
      }
    }
  
    :where(.css-dev-only-do-not-override-17seli4).ant-select-outlined:not(
        .ant-select-disabled
      ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
      .ant-select-selector {
      border-color: #dcbb87 !important;
    }
    .ant-select-focused:where(
        .css-dev-only-do-not-override-17seli4
      ).ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
      ):not(.ant-pagination-size-changer)
      .ant-select-selector {
      box-shadow: none !important;
      outline: none !important;
      border-color: #dcbb87 !important;
    }
  }
  